body {
    display: flex;
    justify-content: left;
    align-items: left;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    position: relative;
}

.container {
    text-align: left;
}

.images {
    display: flex;
    align-items: left; 
    margin-top: -435px;
    margin-left: 120px;
}

.image {
    width: 100px;
    height: 30px;
    margin-top: -50px;
    margin-left: 10px; 
}

img {
    width: 223px;
    height: 63px;
}

.text-part {
    font-size: 15px;
    font-weight: bold;
    margin-left: -300px; 
    margin-top: 20px;
}